$black01: #222222;
$blue01: #074d80;
$blue02: #35739b;
$blue03: #6795ba;
$blue04: #9abad4;
$blue05: #cbdcea;
$green01: #51a75b;
$grey01: #778186;
$grey02: #929b9f;
$grey03: #acb5ba;
$grey04: #c8ced2;
$grey05: #e5e7e9;
$lightGrey01: #f9f8fa;
$orange01: #e75012;
$orange02: #ed7340;
$orange03: #f29672;
$orange04: #f6b9a0;
$orange05: #fce1d3;
$red01: #b73030;
$red02: #c7440e;
$transparent: transparent;
$white01: #ffffff;
$yellow01: #e0bc29;
